
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <title>itsite-soku</title>
  <meta http-equiv="content-language" content="ja" />
  <meta http-equiv="Content-Script-Type" content="text/javascript">
  <meta name="description" content="「ITサイト」をまとめています" />
  <meta name="keywords" content="IT,ITサイト,itsite-soku" />
  <link href="style.css" rel="stylesheet" type="text/css" />
  <link href="css/paper.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="container">
  <div class="jumbotron">
    <h1>itsite-soku</h1>
    <p class="text-info">（∪＾ω＾）IT速報だよっ！</p>
  </div>

<!--  <div id="navigation">
  	<ul>
  			<li class="active"><a href="http://itsite-soku.com/">TOP</a></li>
  	</ul>
  </div>
-->

  <div id="content">

    <div class="sitebox col-md-4">
      <div class="panel panel-heading panel-title"><a href="http://blog.livedoor.jp/dqnplus/">痛いニュース(ﾉ∀`)</a></div>
      <%= link_to image_tag("hatebu.png", alt: "hatebu")%>
      <div class=rssbox>
        <table class="table table-striped table-hover ">
          <tbody>
            <tr class="active"><td><a href="http://blog.livedoor.jp/dqnplus/archives/1880444.html" target="_blank">口に生理用品くわえた男「しばいて・・しばいて・・」といいながら消える</a></td></tr>
            <tr class="active"><td><a href="http://blog.livedoor.jp/dqnplus/archives/1880355.html" target="_blank">【画像】 対向車の木材がフロントガラスに串刺し　運転の男性死亡…福井</a><</td></tr>
            <tr class="active"><td><a href="http://blog.livedoor.jp/dqnplus/archives/1880463.html" target="_blank">財務省制作の「2020年までに日本を黒字化するゲーム」が公開…大増税しないと黒字化達成...</a></td></tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="sitebox col-md-4">
      <div class="panel panel-heading panel-title"><a href="http://blog.livedoor.jp/dqnplus/">痛いニュース(ﾉ∀`)</a></div>
      <%= link_to image_tag("gihyo.png", alt: "gihyo")%>
      <div class=rssbox>
        <table class="table table-striped table-hover ">
          <tbody>
            <tr class="active"><td><a href="http://blog.livedoor.jp/dqnplus/archives/1880444.html" target="_blank">口に生理用品くわえた男「しばいて・・しばいて・・」といいながら消える</a></td></tr>
            <tr class="active"><td><a href="http://blog.livedoor.jp/dqnplus/archives/1880355.html" target="_blank">【画像】 対向車の木材がフロントガラスに串刺し　運転の男性死亡…福井</a><</td></tr>
            <tr class="active"><td><a href="http://blog.livedoor.jp/dqnplus/archives/1880463.html" target="_blank">財務省制作の「2020年までに日本を黒字化するゲーム」が公開…大増税しないと黒字化達成...</a></td></tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="sitebox col-md-4">
      <div class="panel panel-heading panel-title"><a href="http://blog.livedoor.jp/dqnplus/">痛いニュース(ﾉ∀`)</a></div>
      <%= link_to image_tag("atit.png", alt: "atit")%>
      <div class=rssbox>
        <table class="table table-striped table-hover ">
          <tbody>
            <tr class="active"><td><a href="http://blog.livedoor.jp/dqnplus/archives/1880444.html" target="_blank">口に生理用品くわえた男「しばいて・・しばいて・・」といいながら消える</a></td></tr>
            <tr class="active"><td><a href="http://blog.livedoor.jp/dqnplus/archives/1880355.html" target="_blank">【画像】 対向車の木材がフロントガラスに串刺し　運転の男性死亡…福井</a><</td></tr>
            <tr class="active"><td><a href="http://blog.livedoor.jp/dqnplus/archives/1880463.html" target="_blank">財務省制作の「2020年までに日本を黒字化するゲーム」が公開…大増税しないと黒字化達成...</a></td></tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="sitebox col-md-4">
      <div class="panel panel-heading panel-title"><a href="http://blog.livedoor.jp/dqnplus/">痛いニュース(ﾉ∀`)</a></div>
      <%= link_to image_tag("bridge.png", alt: "bridge")%>
      <div class=rssbox>
        <table class="table table-striped table-hover ">
          <tbody>
            <tr class="active"><td><a href="http://blog.livedoor.jp/dqnplus/archives/1880444.html" target="_blank">口に生理用品くわえた男「しばいて・・しばいて・・」といいながら消える</a></td></tr>
            <tr class="active"><td><a href="http://blog.livedoor.jp/dqnplus/archives/1880355.html" target="_blank">【画像】 対向車の木材がフロントガラスに串刺し　運転の男性死亡…福井</a><</td></tr>
            <tr class="active"><td><a href="http://blog.livedoor.jp/dqnplus/archives/1880463.html" target="_blank">財務省制作の「2020年までに日本を黒字化するゲーム」が公開…大増税しないと黒字化達成...</a></td></tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="sitebox col-md-4">
      <div class="panel panel-heading panel-title"><a href="http://blog.livedoor.jp/dqnplus/">痛いニュース(ﾉ∀`)</a></div>
      <%= link_to image_tag("tech.png", alt: "tech")%>
      <div class=rssbox>
        <table class="table table-striped table-hover ">
          <tbody>
            <tr class="active"><td><a href="http://blog.livedoor.jp/dqnplus/archives/1880444.html" target="_blank">口に生理用品くわえた男「しばいて・・しばいて・・」といいながら消える</a></td></tr>
            <tr class="active"><td><a href="http://blog.livedoor.jp/dqnplus/archives/1880355.html" target="_blank">【画像】 対向車の木材がフロントガラスに串刺し　運転の男性死亡…福井</a><</td></tr>
            <tr class="active"><td><a href="http://blog.livedoor.jp/dqnplus/archives/1880463.html" target="_blank">財務省制作の「2020年までに日本を黒字化するゲーム」が公開…大増税しないと黒字化達成...</a></td></tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="sitebox col-md-4">
      <div class="panel panel-heading panel-title"><a href="http://blog.livedoor.jp/dqnplus/">痛いニュース(ﾉ∀`)</a></div>
      <%= link_to image_tag("markezine.png", alt: "markezine")%>
      <div class=rssbox>
        <table class="table table-striped table-hover ">
          <tbody>
            <tr class="active"><td><a href="http://blog.livedoor.jp/dqnplus/archives/1880444.html" target="_blank">口に生理用品くわえた男「しばいて・・しばいて・・」といいながら消える</a></td></tr>
            <tr class="active"><td><a href="http://blog.livedoor.jp/dqnplus/archives/1880355.html" target="_blank">【画像】 対向車の木材がフロントガラスに串刺し　運転の男性死亡…福井</a><</td></tr>
            <tr class="active"><td><a href="http://blog.livedoor.jp/dqnplus/archives/1880463.html" target="_blank">財務省制作の「2020年までに日本を黒字化するゲーム」が公開…大増税しないと黒字化達成...</a></td></tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>

  <div id="footer"></div>
  <div id="copyright">
    <div align="center">copyright &copy;  itsite-soku All Rights Reserved. </div>
  </div>
</div>
</body>
</html>
